<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- Indique à Spring le ou les pckages dans lesquels il trouvera des composants @Component, @Service ou @Repository-->
	<context:component-scan base-package="appliance.persistence.dao" />

	<!-- Le datasource est maintenant dans le fichier XML et plus dans le code du DAO -->
	<!-- L'injection du datasource dans le DAO se fait avec l'annotation @AutoWired -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/minibase" />
		<property name="username" value="minibase" />
		<property name="password" value="minibase" />
	</bean>


</beans>
